.h2 {
  font-size: 3rem;
}

.nav {
  display: flex;
  gap: 24px;
}

.a {
  text-decoration: none;
  font-size: 1.2rem;
}

.a:hover {
  text-decoration: none;
  font-size: 1.2rem;
  color: rgb(182, 108, 76);
}

.section {
  display: flex;
  flex-direction: column;
  padding: 120px 130px;
  box-sizing: border-box;
  background-color: rgb(168, 117, 95);
}

.light {
  background-color: rgb(177, 130, 110);
}

.about-container {
  display: flex;
  align-items: center;
  justify-content: center;
}

.img-container {
  width: 500px;
  display: flex;
  align-items: center;
  flex-shrink: 0;
}

.about {
  display: flex;
  flex-direction: column;
  flex: 1 1 800px;
  margin-left: 80px;
}

.img {
  width: 100%;
  height: 100%;
  border-radius: 50%;
  object-fit: cover;
  overflow: hidden;
  border: 2px solid rgb(131, 67, 40);
}

.about-info {
  font-size: 1.5rem;
  margin-top: 20px;
}

.section-title {
  text-align: center;
  margin-bottom: 40px;
  font-size: 2.4rem;
  padding-top: 40px;
}

.project-container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(400px, 1fr));
  gap: 20px;
}

.project-a {
  text-decoration: none;
}

.project {
  background-color: rgb(148, 85, 58);
  border: 2px solid rgb(131, 67, 40);
  display: flex;
  padding: 20px;
}

.project-display {
  width: 34%;
  max-width: 34%;
  box-sizing: border-box;
  margin-right: 10px;
}

.project-img {
  width: 150px;
  object-fit: cover;
  overflow: hidden;
  height: 110px;
  border-radius: 6px;
}

.project-info {
  margin-left: 20px;
}

.project-title {
  font-size: 1.3rem;
}

.project-desc {
  margin-top: 20px;
  font-size: 0.9rem;
}

.footer {
  background-color: rgb(148, 85, 58);
  height: 8vh;
  display: flex;
  align-items: center;
  justify-content: center;
  border-top: 1px solid rgb(131, 67, 40);
}

.icon-container {
  margin-left: 10px;
  display: flex;
  gap: 14px;
}

.icon {
  font-size: 1.5rem;
}
